* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto";
  /* text-transform: capitalize; */
}
.container {
  background-image: url("IMG/chatbg.png");
  height: 100vh;
}
.Main_heading {
  background: #323f4b;
  text-align: center;
  height: 40px;
  padding: 5px;
}
.me {
  background: #47a3f3;
  margin: 12px;
  margin-left: 40px;
  padding: 15px 10px;
  text-align: right;
  border-radius: 22px 22px 0 22px;
}
.you {
  background: #52606d;
  margin: 12px;
  margin-right: 40px;
  padding: 15px 10px;
  text-align: left;
  border-radius: 22px 22px 22px 0;
}
